.App {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  padding-top: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FF9800;
  height: 40px;
  padding: 5px;
  color: black;
}

.App-header > h2 {
  font-size: 15px;
  margin: 0px;
}

.App-news {
  background-color: rgb(246, 246, 239);
}

.App-form {
  margin-top: 10px;
}

.comment-list {
  background-color: rgb(246, 246, 239);
}

.comment-form {
  margin-top: 10px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
